<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Product Bean -->
    <bean id="product" class="com.example.spring_autowire_constructor.Product">
        <constructor-arg value="250"/>
    </bean>

    <!-- Purchase Bean with constructor autowire -->
    <bean id="purchase" class="com.example.spring_autowire_constructor.Purchase" autowire="constructor"/>

</beans>
