<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         version="3.1">
    
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>com.student.registration.AddToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-class>com.student.registration.ViewCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewCartServlet</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>VendorServlet</servlet-name>
        <servlet-class>com.student.registration.VendorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VendorServlet</servlet-name>
        <url-pattern>/vendors</url-pattern>
    </servlet-mapping>
</web-app>



