<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Bank Bean -->
    <bean id="bank" class="model.Bank">
        <constructor-arg value="101" />
        <constructor-arg value="HDFC Bank" />
    </bean>

    <!-- Account Bean with Bank constructor reference -->
    <bean id="account" class="model.Account">
        <constructor-arg value="123456" />
        <constructor-arg value="Rachel" />
        <constructor-arg value="10000.50" />
        <constructor-arg ref="bank" />
    </bean>

</beans>  


